body {
  background-image: url("https://cdn.glitch.me/170e28e9-c7c2-4865-a229-d5663bd2d948%2F9cc2bad7-189c-4dd5-bbc8-84aac562f8f9.image.png?v=1638480816034");
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
}

.top-text {
  color: black;
  text-align: center;
  font-size: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.center-container {
  margin: auto;
  background-color: white;
  border-radius: 5px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  width: 80%;
  height: 80%;
  overflow: hidden;
}

button {
  cursor: pointer;
  border-radius: 5px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  width: 20%;
  height: 20%;
  background-color: grey;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: black;
  font-size: 60px;
}
button:hover {
  background-color: #8c8c8c;
}

select {
  cursor: pointer;
  border-radius: 5px;
  border-color: black;
  border-width: 5px;
  border-style: solid;
  width: 20%;
  height: 20%;
  background-color: grey;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: black;
  font-size: 60px;
}
select select {
  cursor: pointer;
}
select:hover {
  background-color: #8c8c8c;
}