body {
  background-image: "https://cdn.glitch.me/170e28e9-c7c2-4865-a229-d5663bd2d948%2F9cc2bad7-189c-4dd5-bbc8-84aac562f8f9.image.png?v=1638480816034";
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.central-holder {
  background-color: white;
  border-radius: 5px;
}